:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --logo-web-color: #000000;
  --button-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;

  --main-background-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* site nav */
.logo {
  color: var(--logo-web-color);
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-web {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
.nav .link,
.section-title {
  color: var(--title-text-color);
}
.nav .link {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts .link:hover {
  color: var(--accent-color);
}
/* main */
/* buttons */
.button {
  cursor: pointer;
  color: var(--title-text-color);
  border-color: var(--button-background-color);

  background-color: var(--button-background-color);
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button:focus,
.button:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
/* images */
.image {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
.image-title {
  color: var(--title-text-color);
}
/* footer */
.footer {
  background-color: var(--hero-footer-background-color);
}
.logo-footer {
  color: var(--main-background-color);
}
.footer .adress-map {
  color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer .adress-map:hover {
  color: var(--accent-color);
}

.footer .adress-contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;

  font-style: normal;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer .adress-contact:hover {
  color: var(--accent-color);
}
